<div class="header">
  <div class="container">
    <h1>Create message</h1>
  </div>
</div>

<div class="messages">
  <div class="container">

    <!-- Your code here -->
    Create Message

  </div>
</div>
