<img src="/about.png" class="icon" alt="">

<h1>THIS IS THE ABOUT PAGE</h1>

<p>
	This application is just an example of how to put up and running a sinatra app.<br/>
	Originally this was taken from
	<a href="https://github.com/udacity/your-first-sinatra-app">Udacity sinatra course</a>
</p>
<p>
	Feel free to check out the <a href="/" title="">home</a> page
</p>
